html{
    scroll-behavior: smooth;
}
.container{
    position: relative;
    width: 95vw;
    height: 450px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;

    -webkit-box-shadow: inset 0px 0px 25px 5px rgba(0,0,0,0.42);
    -moz-box-shadow: inset 0px 0px 25px 5px rgba(0,0,0,0.42);
    box-shadow: inset 0px 0px 25px 5px rgba(0,0,0,0.42);
}
  
.container.n1{

    --s: 75px; /* control the size */
    --c1: #e7525b;
    --c2: #78dbf0;
    
    --_g: 80%,var(--c1) 25.4%,#0000 26%;
    background:
     radial-gradient(at 80% var(--_g)),
     radial-gradient(at 20% var(--_g)),
     conic-gradient(from -45deg at 50% 41%,var(--c1) 90deg,var(--c2) 0) 
        calc(var(--s)/2) 0;
    background-size: var(--s) var(--s);

}
.container.n2{
   
    --s: 200px; /* control the size */
    --c: #fff; /* first color */
    
    --_g: #0000 8%,var(--c) 0 17%,#0000 0 58%;
    background: 
        linear-gradient(135deg,#0000 20.5%,var(--c) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
        linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
        linear-gradient(135deg,var(--_g),var(--c) 0 67%,#0000 0),        
        linear-gradient( 45deg,var(--_g),var(--c) 0 67%,#0000 0 83%,var(--c) 0 92%,#0000 0),
        #1095c1; /* second color */
    background-size: var(--s) var(--s);
      
      
}
.container.n3{
    --s: 84px; /* control the size*/
    --c1: #f2f2f2;
    --c2: #cdcbcc;
    --c3: #999999;
    
    --_g: 0 120deg,#0000 0;
    background:
      conic-gradient(from    0deg at calc(500%/6) calc(100%/3),var(--c3) var(--_g)),
      conic-gradient(from -120deg at calc(100%/6) calc(100%/3),var(--c2) var(--_g)),
      conic-gradient(from  120deg at calc(100%/3) calc(500%/6),var(--c1) var(--_g)),
      conic-gradient(from  120deg at calc(200%/3) calc(500%/6),var(--c1) var(--_g)),
      conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2)  60deg,var(--c1) var(--_g)),
      conic-gradient(from   60deg at calc(200%/3) 50%,var(--c1)  60deg,var(--c3) var(--_g)),
      conic-gradient(from  -60deg at 50% calc(100%/3),var(--c1) 120deg,var(--c2) 0 240deg,var(--c3) 0);
    background-size: calc(var(--s)*1.732) var(--s);
  }
.container.n4{
    --s: 34px; /* control the size (the circle diameter) */
    --c1: #ECBE13;
    --c2: #309292;
     
    --_g: radial-gradient(calc(var(--s)/2),var(--c1) 97%,#0000);
    background:
        var(--_g),var(--_g) calc(2*var(--s)) calc(2*var(--s)),
        repeating-conic-gradient(from 45deg,#0000 0 25%,var(--c2) 0 50%) calc(-.707*var(--s)) calc(-.707*var(--s)),
        repeating-linear-gradient(135deg,var(--c1) calc(var(--s)/-2) calc(var(--s)/2),var(--c2) 0 calc(2.328*var(--s)));
        background-size: calc(4*var(--s)) calc(4*var(--s));
      
      
  }
.container.n5{
    
    --s: 80px; /* control the size */
    --c: #542437;
        
    --_g: 
    #0000 calc(-650%/13) calc(50%/13),var(--c) 0 calc(100%/13),
    #0000 0 calc(150%/13),var(--c) 0 calc(200%/13),
    #0000 0 calc(250%/13),var(--c) 0 calc(300%/13);
    --_g0: repeating-linear-gradient( 45deg,var(--_g));
    --_g1: repeating-linear-gradient(-45deg,var(--_g));
    background:
          var(--_g0),var(--_g0) var(--s) var(--s),
          var(--_g1),var(--_g1) var(--s) var(--s) #C02942;
        background-size: calc(2*var(--s)) calc(2*var(--s));
     
  }
   
.container.n5 h1{
    color: white; 
}
.container.n5 p{
        color: white; 
}
.container.n6{
    
    --s: 30px; /* control the size */
    --c1: #E5FCC2;
    --c2: #45ADA8;
    
    --_s:37.5% 12.5% at 62.5%;
    --_g:34% 99%,#0000 101%;
    --g1:radial-gradient(var(--_s) 100%,#0000 32%,var(--c1) var(--_g));
    --g2:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c1) var(--_g));
    --g3:radial-gradient(var(--_s) 100%,#0000 32%,var(--c2) var(--_g));
    --g4:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c2) var(--_g));
    background:
        var(--g1),
        var(--g2) 0                calc(3*var(--s)),
        var(--g3) var(--s)         calc(3*var(--s)),
        var(--g4) var(--s)         calc(6*var(--s)),
        var(--g1) calc(2*var(--s)) calc(6*var(--s)),
        var(--g2) calc(2*var(--s)) calc(9*var(--s)),
        var(--g3) calc(3*var(--s)) calc(9*var(--s)),
        var(--g4) calc(3*var(--s)) 0,
        repeating-linear-gradient(var(--c1) 0 25%,var(--c2) 0 50%);
        background-size: calc(4*var(--s)) calc(12*var(--s));
    }   

.container.n7{
    
    --s: 84px; /* control the size */
        
    --c: #fff;
    --a:from -30deg at;
    background:
        linear-gradient(#0000 50%,#0004 0),
        conic-gradient(var(--a) 90%,var(--c) 240deg,#0000    0),
        conic-gradient(var(--a) 75%,#71e9a0  240deg,#0000    0),
        conic-gradient(var(--a) 25%,#0000    240deg,var(--c) 0),
        conic-gradient(var(--a) 40%,var(--c) 240deg,#2a6a9b  0);
        background-size: calc(1.5*var(--s)) var(--s);
    }
      

  
h1{
    font-size: 70px;
    font-weight: bold;
    font-family: 'Lunasima', sans-serif;
}
p{
    font-size: 45px;
}
.container span{
    text-decoration: underline;
    font-size: 55px;
    
}
.upper-vidiv{
    background-color: #fff;
}
.upper-vidiv svg{
    display: block;
}
.vidiv{
    
    background-color: #ff6200;
    width: 100%;
    scroll-behavior: smooth
}

.vidiv svg{
    display: block;
}
.vidiv iframe{
    width: 90vw;
    height: 50vh;
}
a{
    display: flex;
    justify-content: center;
    scroll-behavior: smooth
    
    
}
#arrows-icon{
    background-color: #ff6200;
    border: 5px solid black;
    font-size: 5rem;
    border-radius: 100%;
}